
body{
  background: #007bff;
  ;
  background: -webkit-linear-gradient(to right, #007bff, #007bff);
  background: linear-gradient(to right,  #007bff,#007bff); 
}
.Column {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start;
  margin-top: 100px;

}

.mt-100 {
padding-top: 90px;
margin-right: 100px;
color: white;
white-space: nowrap;
}

form {
  margin: auto;
  padding: 20px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 1); 
  background-color: #ffffff;
}



h3 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

br {
  margin-bottom: 15px;
}

.btn-primary {
  display: inline-block;
  padding-top: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4c00ff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  form {
      width: 90%;
  }
}
.label{
  margin-top: 10px;
}

.body-home{
  background: white;
}
.body-result{
background: white;
}
.group{
  margin-top: 10px;
}
.group-essay{
  margin-top: 10px;   
}
.btn-assess{
  margin-top: 5px;
}

.chosen-select{
  width: 100%;
}
.select{
 margin-top: 3px;
 
}

.folder-icon {
  height: 20px; 
  background-size: cover;
  display: inline-block;
  margin: 5px; 
}
.folders-container {
  max-height: 380px; 
  overflow-y: auto;
}

.delete-logo {
  width: 20px; 
  height: auto; 
  
}
.folder-create {
max-width: 350px; 
margin: 10px auto; 
}

.folder-create label {
display: block;
margin-bottom: 2px; 
}


.folder-create input {
width: 80%; 
padding: 2px; 
box-sizing: border-box; 
margin-bottom: 7px; 
}


.folder-create button {
background-color: #626ae0; 
color: white;
padding: 3px 9px; 
border: none; 
border-radius: 10px; 
cursor: pointer; 
}


.folder-create button:hover {
background-color: #2e1fb3; 
}

.upload-btn {
  background-color: #4CAF50; 
  color: white; 
  padding: 3px 6px; 
  border: none;
  border-radius: 10px; 
  cursor: pointer;
}


.selectMultiple {
  width: 400px;
  position: relative;
}
.selectMultiple select {
  display: none;
}
.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 8px 12px 2px 12px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
  transition: box-shadow 0.3s ease;
}
.selectMultiple > div:hover {
  box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
}
.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}
.selectMultiple > div .arrow:before,
.selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid #99A3BA;
  top: 43%;
  transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
  right: 12px;
  transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
  left: 9px;
  transform: rotate(130deg);
}
.selectMultiple > div span {
  color: #99A3BA;
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}
.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: #1E2330;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
}
.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background: rgba(228, 236, 250, 0.7);
  z-index: -1;
  border-radius: 4px;
}
.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #4D18FF;
  border-radius: 1px;
}
.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}
.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.filter-option {
  border: 2px solid #0056b3; 
  padding: 10px;
}
.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  filter: drop-shadow(0 12px 20px rgba(0, 76, 255, 0.08));
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
  color: #1E2330;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li:hover {
  background: #4D18FF;
  color: #fff;
}
.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}
.selectMultiple > ul li.remove:after {
  -webkit-animation: ripple 0.4s ease-out;
          animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
  transform: scale(1);
  opacity: 1;
}
.selectMultiple.open > div {
  box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
}
.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}
.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  filter: drop-shadow(0 16px 24px rgba(0, 76, 255, 0.16));
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}


.body-analysis{
background: white;
color: black;
font-family: Arial, sans-serif;
}



.result{
background: white;
color: black;
font-family: Arial, sans-serif;
padding: 20px; 

}

.result-con {
border: 2px solid #007bff; 
padding: 10px; 
margin-top: 20px; 
}


.btn {
margin-right: 10px; 
}

.folder-name {
cursor: pointer; 
color: #337ab7; 
text-decoration: underline; 
transition: color 0.3s; 
}

.folder-name:hover {
color: #23527c; 
}

.folder-name {
text-decoration: none; 
}

.folder-name.selected {
color: blue; 
font-weight: bold; 
}

#relevancePopup input[type="text"] {
text-align: center;
}

#relevancePopup input[type="text"] {
margin-left: 10px;
margin-bottom: 5px;
width: 150px; 
}


.blink-logo {
animation: blink 2s infinite;
}

@keyframes blink {
0%, 100% {
  opacity: 1;
}
50% {
  opacity: 0;
}
}



.body-result {
font-family: 'Times New Roman', Times, serif;
margin-top: 30px;
margin-bottom: 30px;

}

.content-box {
background-color: rgb(3, 3, 3);
margin: auto;
padding: 20px;
border: 1px solid #e2dfdf;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-top: 40px;
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
}

h11 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}

h10 {
font-size: 40px;
padding-bottom: 20px;
color: #030303;
padding: 20px;
font-family: 'Times New Roman', Times, serif;

}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.folder-list {
  list-style: none;
  padding: 0;
}

.folder-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
  border: 1px solid #e2dfdf;
}

.folder-item:hover {
  background-color: #c4dcf8;
}

.folder-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.folder-name {
  cursor: pointer;
  font-size: 22px;
  color: #020202;
}

.files-container {
  margin-top: 10px;
  padding-left: 35px;
}


h2 {
font-size: 10px;
}


.body-result {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}


.content-box {
margin: 20px;
padding: 20px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.folder-list {
list-style: none;
padding: 0;
}


.folder-item {
margin-bottom: 10px;
padding: 10px;
background-color: #f9f9f9;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
}


.folder-icon {
width: 30px;
margin-right: 10px;
}


.folder-name {
font-size: 20px;
cursor: pointer;
}


.files-container {
margin-top: 10px;
padding: 10px;
background-color: #e6e6e6;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h13 {
color: white;
text-align: center;
font-size: 30px;
}

h14 {
color: white;
text-align: center;
font-size: 30px;
}






